.lastReportsDiv{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 20px;
    gap: 20px;
    width: 100%;
    max-width: 320px;
    height: 100%;
    max-height: 964px;
    box-sizing: border-box;
}

.lastReport{
    width: 100%;
    max-width: 280px;
    height: 100%;
    max-height: 66.25px;
    background-color: #CFE5FF;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 5px;
    gap: 10px;
}

.lastReport h4{
    font-size: 12px;
}

.emotion{
    width: 100%;
    max-width: 50px;
    height: 100%;
    max-height: 50px;
    border-radius: 1234px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}